//-Copyright (c) 2013, Efstathios D. Sfecas  <stathizzz@gmail.com>
//-All rights reserved.
//-Redistribution and use in source and binary forms, with or without
//-modification, are permitted provided that the following conditions are met:
//-* Redistributions of source code must retain the above copyright
//-notice, this list of conditions and the following disclaimer.
//-THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS
//-IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED
//-TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
//-PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER
//-OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
//-EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
//-PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
//-PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
//-LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
//-NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
//-SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
extends ../layout

block content
    link(href="/stylesheets/blog.css", type="rel/stylesheet")
    style.
        .container {
            margin-top:10em;
        }
    .navbar.navbar-fixed-top
        .navbar-inner
            .container
                a.brand(href="/#{blog_name}") #{blog_lang.browse}
    .wrap
        .container
            .row
                .span8
                    block blog-content
                .span12.panel
                    ul.nav.nav-pills
                        li.nav.nav-header #{blog_lang.categories}
                        - each cat in poet.helpers.getCategories()
                            li
                                a(href=poet.helpers.categoryURL(cat)) #{cat}
                    ul.nav.nav-pills
                        li.nav.nav-header #{blog_lang.tags}
                        - each tag in poet.helpers.getTags()
                            li
                                a(href=poet.helpers.tagURL(tag)) #{tag}
